/* You can add global styles to this file, and also import other style files */
body {
  padding: 0px;
  margin: 0px;
  font-family: Arial;
  font-size: 14px;
  color: white;
  background-color: #323232!important;
}
.charts{
  margin: 20px 0 20px 0!important;
}
.invalid-feedback{
display: block!important;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}


@media only screen and (max-width: 600px) {
  /*.bar-chart canvas{*/
    /*position: relative;*/
    /*margin: auto;*/
    /*height: 300px!important;*/
    /*width: auto;*/
  /*}*/
}


