/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
/* CSS Document */
body {
  padding: 0px;
  margin: 0px;
  font-family: Arial;
  font-size: 14px;
  color: white;
  background-color: #323232;
}

h5, b, p {
  color: white!important;
}

.container-fluid {
  border: 1px solid black;
}

.container {
  padding: 50px 0px 50px 0px;
}

.mobi-table p {
  margin: 0px 10px 10px 10px;
}

span {
  font-size: 28px;
}

hr {
  margin-bottom: 30px!important;
}


@media (min-width: 1440px){
  .mobi-table {
    width: 100%!important;
  }
}

@media (max-width: 1024px) {
  .mobi-table {
    width: 84%!important;
  }
}

@media (max-width: 480px){
  body{
    font-size: 1ex;
  }
  td {
    padding: 0px!important;
  }

  span {
    font-size: 16px;
  }
  .mobi-table {
    position: relative;
    width: 95%!important;
    margin: auto;
  }
  .container {
    position: relative;
    padding: 0px;

  }
  .mobitv-logo {
    width: 60px!important;
    height: auto!important;
  }

  hr {
    margin-bottom: 5px!important;
  }
}

@media (max-width: 375px) {
  span {
    font-size: 12px;
  }
}



