<div class="main">
  <div class="panel-heading">
    <div class="panel-title text-center">
      <h1 class="title">AVG</h1>
      <hr/>
    </div>
  </div>
  <div class="main-login main-center">

    <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()"
    >
      <div class="form-group">
        <div *ngIf="response && !loginForm.invalid" class="invalid-feedback">Tài khoản hoặc mật khẩu không đúng</div>
        <label for="email" class="cols-sm-2 control-label" >email</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="email" id="email" placeholder="Enter your email"
                   formControlName="email"
                   [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">

              <div *ngIf="f.email.errors.required">Tên đăng nhập là bắt buộc</div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="cols-sm-2 control-label">Password</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input type="password" class="form-control"
                   formControlName="password"
                   name="password"
                   id="password"
                   placeholder="Enter your Password"
                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            />

            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">

              <div *ngIf="f.password.errors.required">Mật khẩu là bắt buộc</div>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group ">
        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Đăng nhập</button>
      </div>
      <div class="login-register">
        <a href="/register">Create account</a> or <a href="reset_password.php">reset password</a>
      </div>
    </form>
  </div>
</div>
