<div class="row">
  <div class="col-sm-2 position-relative" style="margin: 0px; padding: 0px;">
    <img class="img-fluid position-relative mobitv-logo" style="padding: 0px; margin: 0px; max-width: 120px; height: auto;"
         src="assets/images/20180727092536_qưeqwe-01.jpg" alt="Mobitv" />
    <p>Thời gian truy cập: {{date | date:'dd/MM/yyyy'}}</p>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-6">
    <div class="position-relative" style="margin: auto">
      <h5 class="text-black" style="margin-top: 10px; margin-bottom: 20px;"><strong>HỆ THỐNG BÁO CÁO HOẠT ĐỘNG THUÊ BAO</strong></h5>
      Công ty: Cổ phần nghe nhìn toàn cầu<br>
      Địa chỉ: Tầng 12, tòa nhà IC 82 Duy Tân, P.Dịch Vọng Hậu, Q. Cầu Giấy, HN.
    </div>
  </div>
  <div class="col-sm-2">
    <!--<ul>-->
      <!--<li>-->
        <!--<a>Username</a>-->
        <!--<ul class="dropdown">-->
          <!--<li><a href="#">Log out</a></li>-->
        <!--</ul>-->
      <!--</li>-->
    <!--</ul>-->
    <a href="javascript:void(0)" (click)="logout()">Đăng xuất</a>
  </div>
</div>
