<table border="1" class="table-sm text-center container mobi-table table-striped table-dark text-white" style="width: 95%; font-size: 100%; line-height: 14px; color: black;">
  <tbody>
  <tr>
    <td >&nbsp;<p>Kích hoạt trong ngày</p></td>
    <td >&nbsp;<p>Thu cước trong ngày</p></td>
    <td >&nbsp;<p>Hoạt động trong ngày</p></td>
    <td >&nbsp;<p>Sự cố trong ngày</p></td>
  </tr>
  <tr *ngIf="reportCurrentStatistic">

    <td >&nbsp;<b>{{reportCurrentStatistic.developmentalSubCount}}</b></td>
    <td >&nbsp;<b>{{reportCurrentStatistic.paymentValueSum|number}} đ</b></td>
    <td >&nbsp;<b>{{reportCurrentStatistic.effectiveSubCount|number}}</b></td>
    <td >&nbsp;<b>{{reportCurrentStatistic.problemCount}}</b></td>
  </tr>
  </tbody>
</table>
